.App {
  --main-padding: 1rem;
  --first-color: #00713d;
  --second-color: #43973b;
  --third-color: #7ec245;
  padding: var(--main-padding);
}

.note-card {
  width: fit-content;
  min-width: 20rem;
  padding: var(--main-padding);
  border: 1px solid var(--first-color);
  border-radius: 10px;
  background-color: var(--third-color);
}

.note-card__header {
  display: flex;
  gap: 10px;
}

.heading {
  margin: 0;
  padding: 0.5rem var(--main-padding);
  text-transform: capitalize;
  background-color: white;
  color: var(--first-color);
}

.note-card__header__button {
  border: 1px solid var(--first-color);
  border-radius: 10px;
}

.notes_main {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-padding);
}
